<div class="contenedor container">
    <h1>{{this.empresas.emp_cncomer}} </h1>
    <hr>
    <div class="row text-right"></div>


    <div class="col">
        <button class="btn btn-danger" routerLink="/home">
            <i class="fa fa-arrow-left"></i>
        </button>

    </div>

    <!-- <div>
        <div class="col">
            <ul class="list-group">

                <li class="list-group-item">

                    {{this.empresas.emp_crass}}
                    
                </li>
                <li class="list-group-item">

                    Ruc: {{this.empresas.emp_cruc}}
                 
                </li>
                <li class="list-group-item">

                    Teléfono: {{this.empresas.emp_ctelef}}
                    
                </li>
            </ul>
            

        </div>
    </div> -->
    <h1>
        Productos
    </h1>
    <div class="row">
        
        <div class="col-sm-3" *ngFor="let item of this.empresas.emp_aprod">
            <app-productos  [producto]="item" ></app-productos>
        </div>
    </div>
    
</div>

