<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
      <div class="row d-flex no-gutters">
  
        <div class="col-md-6 pl-md-5 py-md-5">
          <div class="heading-section pl-md-4 pt-md-5">
            <span class="subheading">Empresas Afiliadas</span>
            <h2 class="mb-4">Nosotros somos los mejores</h2>
          </div>
          <ul class="list-group">
  
            <!-- <li *ngFor="let item of collection.data; let i=index" class="list-group-item">
              {{i+1}} &nbsp; {{item.ruc}} &nbsp; {{item.departamento}} &nbsp; {{item.telefono}} &nbsp;
              <button (click)="verEmpresa(i)" type="button" class="btn btn-primary btn-block">
                ver más...
              </button>
              
            </li> -->
  
  
          </ul>
  
        </div>
        <div class="col-md-6 d-flex">
          <div class="row">
            <div class="col-12">
              <img class="imagen-grande" src="../../../assets/images/about.jpg" alt="">
            </div>
  
            <div class="col-12">
              <img class="imagen-grande" src="../../../assets/images/about.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
