<!-- <div class="col-md-6 d-flex container"> -->
    
    <div class="heading-section pl-md-4 pt-md-5">
        <span class="subheading">Empresas Afiliadas</span>
        <h2 class="mb-4">Nosotros somos los mejores</h2>
      </div>

    <div class="row">
      <!-- combo box categorias -->
        <!-- <div>
            <mat-form-field appearance="fill">
              <mat-label>Seleccione una Categoría</mat-label>
              <mat-select [(ngModel)]="categoriaselected" name="categoria"  > -->
                <!-- <mat-select-filter [placeholder]="'Filter'" [displayMember]="'cat_cdes'" [array]="categoriaList" (filteredReturn)="filteredListcategoria =$event"></mat-select-filter>  -->
                
               <!--  <mat-option *ngFor="let categoria of this.categorias" [value]="categoria.cat_cdes">
                    {{categoria.cat_cdes}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
            <p>You selected: {{categoriaselected}}</p>
          </div>  -->
          
          

          <!-- imagenes de las promociones por ciudades -->
          <div class="col-12" *ngFor="let item of this.promociones_img" >
            <img class="imagen-grande" [src]="item.prom_tipo.tipo_cimagen" alt="Random first slide">
            
          </div>

          
    </div>
  <!-- </div> -->
