<!-- <div>
  <app-loading *ngIf="loading"></app-loading>
</div> -->
<div class="row" *ngIf="promociones.length > 0">
  <div class="col">
    <app-carrusel [promociones]="promociones"></app-carrusel>
  </div>
  
</div>

<section class="ftco-section ftco-no-pt bg-light">
  <div class="container">
    <div class="row d-flex no-gutters">
      <div class="col-md-6 pl-md-5 py-md-5">
        <app-empresas></app-empresas>
      </div>
      
      <div class="col-md-6 pl-md-5 py-md-5">
        <app-promociones [promociones]="promociones"></app-promociones>
      </div>
      
      

    </div>
    
  </div>
</section>