.imagen-grande{
    width: 100%;
    height: auto;
}

  
.example-button-row {
    display: inline-block;
    font-size: 5px;
    width: 200px;
  }


  .star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
  }
  .full {
    color: red;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: red;
  }