<div class="heading-section  pt-md-5">

    <h2 class="mb-4 titulo-categoria"> <b>CATEGORÍAS</b> </h2>
</div>

<div>
    <mat-form-field appearance="legacy">
        <mat-label> <b>Seleccione Categoría</b> </mat-label>
        <mat-select [(ngModel)]="categoriaselected" name="categoria" [disableOptionCentering]="true" (selectionChange)="filtrarCategorias()">
            <!-- <mat-select-filter [placeholder]="'Filter'" [displayMember]="'name'" [array]="departamentoList" (filteredReturn)="filteredListdepartamento =$event"></mat-select-filter>   -->

            <mat-option *ngFor="let item of this.categorias" [value]="item.cat_ncod">
                {{item.cat_cdes}}
            </mat-option>
        </mat-select>
    </mat-form-field>

</div>

<div>
    <!-- <span class="subheading">Empresas Afiliadas</span> -->
    <h2 class="mb-4"> <b> Empresas Afiliadas</b></h2>
</div>




<!-- combo box departamentos -->
<div class="filtro-lugar">

    <div>
        <mat-form-field class="btn-filtro" appearance="legacy">
            <mat-label> <b>Departamento</b> </mat-label>
            <mat-select class="btn-filtro1" [(ngModel)]="departamentoselected" name="departamento" [disableOptionCentering]="true" (selectionChange)="filtrarProvincias()">
                <!-- <mat-select-filter [placeholder]="'Filter'" [displayMember]="'name'" [array]="departamentoList" (filteredReturn)="filteredListdepartamento =$event"></mat-select-filter>   -->

                <mat-option *ngFor="let item of this.departamentos" [value]="item.id_departamento">
                    {{item.nombre_departamento}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- <p>You selected: {{departamentoselected}}</p> -->
    </div>
    <!-- combo box provincias -->
    <div>
        <mat-form-field appearance="legacy">
            <mat-label><b>Provincia</b></mat-label>
            <mat-select [(ngModel)]="provinciaselected" name="provincia" [disableOptionCentering]="true" (selectionChange)="filtrarDistritos()">
                <!-- <mat-select-filter [placeholder]="'Filter'" [displayMember]="'name'" [array]="provinciaList" (filteredReturn)="filteredListprovincia =$event"></mat-select-filter>   -->

                <mat-option *ngFor="let item of provinciafiltered" [value]="item.id_provincia">
                    {{item.nombre_provincia}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- <p>You selected: {{provinciaselected}}</p> -->
    </div>
    <!-- combo box distritos -->
    <div>
        <mat-form-field appearance="legacy">
            <mat-label> <b>Distrito</b></mat-label>
            <mat-select [(ngModel)]="distritoselected" name="distrito" [disableOptionCentering]="true" (selectionChange)="filtrarEmpresasDistritos()">
                <!-- <mat-select-filter [placeholder]="'Filter'" [displayMember]="'name'" [array]="distritoList" (filteredReturn)="filteredListdistrito =$event"></mat-select-filter>   -->

                <mat-option *ngFor="let item of distritofiltered" [value]="item.id_distrito">
                    {{item.nombre_distrito}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- <p>You selected: {{distritoselected}}</p> -->
    </div>

</div>



<!-- Lista de Empresas -->
<!-- <div class="card mb-3" *ngFor="let item of this.collection |sortEmpresas:'a'|  orderBy: 'productos.length':'desc'|filterCategorias:categoriaselected|filterComboBox:nameDepartamento| filterProvincias:nameProvincia | filterDistritos:nameDistrito  ">
    <div class="row g-0">
        <div class="col-md-4">
            <img style="max-width: 100%;" *ngIf="item.logo?.length < 1; else imagenblock" src="../../../assets/images/invoice_logo.png" alt="">
            <ng-template #imagenblock>
                <img style="max-width: 100%;" src={{item.logo}} alt="">
            </ng-template>
        </div>
        <div class=" col-md-8 ">
            <div class="card-body ">
                <h5 class="card-title ">{{item.nombre_comercial}}</h5>
                <h6 class="card-title">{{item.razon_social}}</h6>
                <p class="card-text ">{{item.descripcion | lowercase }}</p>
                <h6 class="card-title">{{item.departamento}} - {{item.provincia}} - {{item.distrito}}</h6>
                <p>
                    <ng-template #t let-fill="fill">
                        <span class="star" [class.full]="fill === 100">
                              <span class="half" [style.width.%]="fill">&#x2605;</span>&#x2605;
                        </span>
                    </ng-template>
                    <ngb-rating [starTemplate]="t" [rate]="item.calificacion" [readonly]="true" [max]="5"></ngb-rating>
                </p>
                <div matLine> -->
                    <!-- <button mat-button (click)="verEmpresa(i)">Ver Productos</button>    -->
          <!--           <button type="button" class="btn btn-success" (click)="verEmpresa(item.idFirebase)">Ver Productos</button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="card" style="width: auto;" *ngFor="let item of this.collection |sortEmpresas:'a'|  orderBy: 'productos.length':'desc'|filterCategorias:categoriaselected|filterComboBox:nameDepartamento| filterProvincias:nameProvincia | filterDistritos:nameDistrito  ">
            <div class="row no-gutters">
                <div class="col-sm-5 my-auto text-center" >
                
                    <img style="width: 150px;" *ngIf="item.emp_clogo?.length < 1; else imagenblock" class="card-img rounded" src="../../../assets/images/invoice_logo.png" alt="">
                    <ng-template #imagenblock>
                      <img style="width: 150px;" class="card-img rounded" src={{item.emp_clogo}} alt="" >
                    </ng-template> 
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title">{{item.nombre_comercial}}</h5>
                        <h6 class="card-title">{{item.razon_social}}</h6>
                        <p class="card-text">{{item.descripcion | lowercase }}</p>
                        <h6 class="card-title">{{item.departamento}} - {{item.provincia}} - {{item.distrito}}</h6>
                        <p>
                          <ng-template #t let-fill="fill">
                            <span class="star" [class.full]="fill === 100">
                              <span class="half" [style.width.%]="fill">&#x2605;</span>&#x2605;
                            </span>
                          </ng-template>
                          <ngb-rating [starTemplate]="t" [rate]="item.calificacion" [readonly]="true" [max]="5"></ngb-rating> 
                        </p>
                        <div matLine>
                          <button class="button" (click)="verEmpresa(item.idFirebase)">Ver Productos</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->





<!-- empresas segunda version -->

<!-- cartas -->


<div class="card mb-3" *ngFor="let item of this.collection |sortEmpresas:'a'|  orderBy: 'productos.length':'desc'|filterCategorias:categoriaselected|filterComboBox:nameDepartamento| filterProvincias:nameProvincia | filterDistritos:nameDistrito " >
    <div class="row no-gutters">
        <div class="col-md-4 contenedor-img">
            <img class="card-img" alt="..." *ngIf="item.logo?.length < 1; else imagenblock" src="../../../assets/images/invoice_logo.png" alt="">
            <ng-template #imagenblock>
                <img class="card-img" alt="..." src={{item.logo}} alt="">
            </ng-template>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{item.nombre_comercial}}</h5>
                <h6 class="card-title">{{item.razon_social}}</h6>
                <p class="card-text ">{{item.descripcion | lowercase }}</p>
                <h6 class="card-title">{{item.departamento}} - {{item.provincia}} - {{item.distrito}}</h6>
                <p>
                    <ng-template #t let-fill="fill">
                        <span class="star" [class.full]="fill === 100">
                              <span class="half" [style.width.%]="fill">&#x2605;</span>&#x2605;
                        </span>
                    </ng-template>
                    <ngb-rating [starTemplate]="t" [rate]="item.calificacion" [readonly]="true" [max]="5"></ngb-rating>
                </p>
                <button type="button" class="btn btn-success" (click)="verEmpresa(item.idFirebase)">Ver Productos</button>
            </div>
        </div>
    </div>
</div>


