<div class="container-fluid">
    <div class="row">
      <ngb-carousel [interval]="5000" *ngIf="this.promociones_img">
      
          <ng-template ngbSlide *ngFor="let item of this.promociones_img; index as i" >
         
            <!-- <div class="picsum-img-wrapper" *ngIf="item.fecha_caducidad <= fecha_actual" >  -->
              <div class="picsum-img-wrapper">
                <div class="row" >
                  <div class="col-sm-6">
                    <img class="imagen-grande" [src]="item" alt="Random first slide">
                  </div>
                  <div class="col-sm-6">
                    <img class="imagen-grande" [src]="item" alt="Random first slide">
                  </div>
                  
                </div>
              </div>
           
            <!-- <div class="carousel-caption" >
             
              <h3>{{item.fecha_caducidad }}</h3>
              <p>{{fecha_actual}}</p>
              <p>holii</p>
            </div>  -->
          </ng-template>

        
      </ngb-carousel>
  
    </div>
  </div>
