<!-- <div class="container-fluid">
    <div class="row">
      <ngb-carousel [interval]="5000" *ngIf="this.promociones_img">
      
          <ng-template ngbSlide *ngFor="let item of this.promociones_img" >
              <div class="picsum-img-wrapper">
                <div class="row" >
                  <div class="col-sm-6">
                    <img class="imagen-grande" [src]="item" alt="Random first slide">
                  </div>
                  <div class="col-sm-6">
                    <img class="imagen-grande" [src]="item" alt="Random first slide">
                  </div>
                  
                </div>
              </div>
          </ng-template>

        
      </ngb-carousel>
  
    </div>
  </div> -->

  <!-- Slider main container -->
<div class="swiper-container" style="margin-top: 90px;">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
      <!-- Slides -->
      <!-- <div *ngFor="let item of this.promociones" class="swiper-slide" [ngClass]="{'background-size': 'cover','background-image':'url('+item.prom_tipo.tipo_cimagen+')'}"> -->
      <div *ngFor="let item of this.promociones" class="swiper-slide" data-swiper-autoplay="2000"> 
        <img [src]="item.prom_tipo.tipo_cimagen" alt="Random first slide">
        <div class="categoria-descripcion">
          <h3>{{item.emp_cate.cat_cdes}}</h3>
        </div>
      </div>
      
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div (click)="onSlidePrev()" class="swiper-button-prev"></div>
  <div (click)="onSlideNext()" class="swiper-button-next"></div>

</div>
